/* @media only screen and (min-width: 1301px) and (max-width: 1600px) {
    #contact_info_container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    #nav_container {
        grid-template-columns: 40% auto 3%;
    }
}

@media only screen and (min-width: 801px) and (max-width: 1300px) {
    #nav_container {
        grid-template-columns: 25% auto 3%;
    }

    #contact_info_container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    #skill_cards_container {
        grid-template-columns: auto;
        grid-template-rows: repeat(3, max-content);
    }

    #languages_card {
        grid-column: 1;
        grid-row: 1;
        justify-self: center;
        height: max-content;
        margin-bottom: 100px;
    }
    
    #professional_skills_card {
        grid-column: 1;
        grid-row: 2;
        justify-self: center;
        /* height: 100%; */
        height: max-content;
        margin: 0;
        margin-bottom: 100px;
    }
    
    #personal_skills_card {
        grid-column: 1;
        grid-row: 3;
        justify-self: center;
        /* margin-bottom: 0; */
        height: max-content;
        margin: 0;
        margin-bottom: 100px; 
    }

    .employment_card {
        grid-template-columns: auto;
        grid-template-rows: repeat(4, 1fr);
        justify-self: center;
        /* right: -20; */
    }
    
    .employment_card > h1 {
        grid-column: 1;
        grid-row: 1;
        margin-top: 15px;
    }

    .employment_card > hr {
        grid-column: 1;
        grid-row: 2;
        height: 2px;
        border: none;
        border-bottom: 2px solid var(--web-orange);
        width: 60%;
    }

    .employment_card > h2 {
        grid-column: 1;
    }

    .employment_card > h2:nth-child(0) {
        grid-row: 3;
    }

    .employment_card > h2:nth-child(1) {
        grid-row: 4;
    }

    .employment_card_overlay {
        grid-column: 1;
    }

    .education_card {
        grid-template-columns: auto;
        grid-template-rows: repeat(5, 1fr);
        justify-self: center;
        /* left: 0; */
    }

    .education_card > h1 {
        grid-column: 1;
        grid-row: 1;
        margin-top: 15px;
    }

    .education_card > hr {
        grid-column: 1;
        grid-row: 2;
        height: 2px;
        border: none;
        border-bottom: 2px solid var(--web-blue);
        width: 60%;
    }

    .education_card > h2 {
        grid-column: 1;
    }

    .education_card > h2:nth-child(0) {
        grid-row: 3;
    }

    .education_card > h2:nth-child(1) {
        grid-row: 4;
    }

    .education_card > h2:nth-child(2) {
        grid-row: 5;
    }

    .education_card_overlay {
        grid-column: 1;
    }
    /* END education card */

    /* BEGIN certificate card */
    .certificate_card {
        grid-template-columns: auto;
        grid-template-rows: repeat(4, 1fr);
        justify-self: center;
    }

    .certificate_card > h1 {
        grid-column: 1;
        grid-row: 1;
        margin-top: 15px;
    }

    .certificate_card > hr {
        grid-column: 1;
        grid-row: 2;
        height: 2px;
        border: none;
        border-bottom: 2px solid var(--web-orange);
        width: 60%;
    }

    .certificate_card > h2 {
        grid-column: 1;
    }

    .certificate_card > h2:nth-child(0) {
        grid-row: 3;
    }

    .certificate_card > h2:nth-child(1) {
        grid-row: 4;
    }

    .certificate_card_overlay {
        grid-column: 1;
    }
}

@media only screen and (min-width: 651px) and (max-width: 800px) {
    #resume_button_container {
        grid-template-columns: auto;
        grid-template-rows: repeat(3, max-content);
    }

    #download_resume_button {
        grid-column: 1;
        grid-row: 1;
        width: max-content;
        justify-self: center;
    }
    
    #email_resume_button {
        grid-column: 1;
        grid-row: 2;
        width: max-content;
        justify-self: center;
        margin-top: 50px;
    }

    #resume_button_container > hr {
        grid-column: 1;
        grid-row: 3;
    }

    #contact_info_container {
        grid-template-columns: auto;
        grid-template-rows: repeat(4, 1fr);
    }

    #skill_cards_container {
        grid-template-columns: auto;
        grid-template-rows: repeat(3, max-content);
    }

    #languages_card {
        grid-column: 1;
        grid-row: 1;
        justify-self: center;
        height: max-content;
        margin-bottom: 100px;
    }
    
    #professional_skills_card {
        grid-column: 1;
        grid-row: 2;
        justify-self: center;
        /* height: 100%; */
        height: max-content;
        margin: 0;
        margin-bottom: 100px;
    }
    
    #personal_skills_card {
        grid-column: 1;
        grid-row: 3;
        justify-self: center;
        /* margin-bottom: 0; */
        height: max-content;
        margin: 0;
        margin-bottom: 100px; 
    }

    .employment_card {
        grid-template-columns: auto;
        grid-template-rows: repeat(4, 1fr);
        justify-self: center;
        /* right: -20; */
    }
    
    .employment_card > h1 {
        grid-column: 1;
        grid-row: 1;
        margin-top: 15px;
    }

    .employment_card > hr {
        grid-column: 1;
        grid-row: 2;
        height: 2px;
        border: none;
        border-bottom: 2px solid var(--web-orange);
        width: 60%;
    }

    .employment_card > h2 {
        grid-column: 1;
    }

    .employment_card > h2:nth-child(0) {
        grid-row: 3;
    }

    .employment_card > h2:nth-child(1) {
        grid-row: 4;
    }

    .employment_card_overlay {
        grid-column: 1;
    }

    .education_card {
        grid-template-columns: auto;
        grid-template-rows: repeat(5, 1fr);
        justify-self: center;
        /* left: 0; */
    }

    .education_card > h1 {
        grid-column: 1;
        grid-row: 1;
        margin-top: 15px;
    }

    .education_card > hr {
        grid-column: 1;
        grid-row: 2;
        height: 2px;
        border: none;
        border-bottom: 2px solid var(--web-blue);
        width: 60%;
    }

    .education_card > h2 {
        grid-column: 1;
    }

    .education_card > h2:nth-child(0) {
        grid-row: 3;
    }

    .education_card > h2:nth-child(1) {
        grid-row: 4;
    }

    .education_card > h2:nth-child(2) {
        grid-row: 5;
    }

    .education_card_overlay {
        grid-column: 1;
    }
    /* END education card */

    /* BEGIN certificate card */
    .certificate_card {
        grid-template-columns: auto;
        grid-template-rows: repeat(4, 1fr);
        justify-self: center;
    }

    .certificate_card > h1 {
        grid-column: 1;
        grid-row: 1;
        margin-top: 15px;
    }

    .certificate_card > hr {
        grid-column: 1;
        grid-row: 2;
        height: 2px;
        border: none;
        border-bottom: 2px solid var(--web-orange);
        width: 60%;
    }

    .certificate_card > h2 {
        grid-column: 1;
    }

    .certificate_card > h2:nth-child(0) {
        grid-row: 3;
    }

    .certificate_card > h2:nth-child(1) {
        grid-row: 4;
    }

    .certificate_card_overlay {
        grid-column: 1;
    }
}

@media only screen and (max-width: 650px) {
    #resume_button_container {
        grid-template-columns: auto;
        grid-template-rows: repeat(3, max-content);
    }

    #download_resume_button {
        grid-column: 1;
        grid-row: 1;
        width: max-content;
        justify-self: center;
    }
    
    #email_resume_button {
        grid-column: 1;
        grid-row: 2;
        width: max-content;
        justify-self: center;
        margin-top: 50px;
    }

    #resume_button_container > hr {
        grid-column: 1;
        grid-row: 3;
    }

    #skill_cards_container {
        grid-template-columns: auto;
        grid-template-rows: repeat(3, max-content);
    }

    #languages_card {
        grid-column: 1;
        grid-row: 1;
        justify-self: center;
        height: max-content;
        margin-bottom: 100px;
    }
    
    #professional_skills_card {
        grid-column: 1;
        grid-row: 2;
        justify-self: center;
        /* height: 100%; */
        height: max-content;
        margin: 0;
        margin-bottom: 100px;
    }
    
    #personal_skills_card {
        grid-column: 1;
        grid-row: 3;
        justify-self: center;
        /* margin-bottom: 0; */
        height: max-content;
        margin: 0;
        margin-bottom: 100px; 
    }

    .skill_card {
        width: 90%;
    }

    .skill_card_header {
        width: 100%;
    }

    .skill_meter {
        width: 90%;
    }

    .skill_header {
        font-size: 24pt;
    }

    .employment_card {
        grid-template-columns: auto;
        grid-template-rows: repeat(4, 1fr);
        justify-self: center;
        /* right: -20; */
    }
    
    .employment_card > h1 {
        grid-column: 1;
        grid-row: 1;
        margin-top: 15px;
    }

    .employment_card > hr {
        grid-column: 1;
        grid-row: 2;
        height: 2px;
        border: none;
        border-bottom: 2px solid var(--web-orange);
        width: 60%;
    }

    .employment_card > h2 {
        grid-column: 1;
    }

    .employment_card > h2:nth-child(0) {
        grid-row: 3;
    }

    .employment_card > h2:nth-child(1) {
        grid-row: 4;
    }

    .employment_card_overlay {
        grid-column: 1;
    }

    .education_card {
        grid-template-columns: auto;
        grid-template-rows: repeat(5, 1fr);
        justify-self: center;
        /* left: 0; */
    }

    .education_card > h1 {
        grid-column: 1;
        grid-row: 1;
        margin-top: 15px;
    }

    .education_card > hr {
        grid-column: 1;
        grid-row: 2;
        height: 2px;
        border: none;
        border-bottom: 2px solid var(--web-blue);
        width: 60%;
    }

    .education_card > h2 {
        grid-column: 1;
    }

    .education_card > h2:nth-child(0) {
        grid-row: 3;
    }

    .education_card > h2:nth-child(1) {
        grid-row: 4;
    }

    .education_card > h2:nth-child(2) {
        grid-row: 5;
    }

    .education_card_overlay {
        grid-column: 1;
    }
    /* END education card */

    /* BEGIN certificate card */
    .certificate_card {
        grid-template-columns: auto;
        grid-template-rows: repeat(4, 1fr);
        justify-self: center;
    }

    .certificate_card > h1 {
        grid-column: 1;
        grid-row: 1;
        margin-top: 15px;
    }

    .certificate_card > hr {
        grid-column: 1;
        grid-row: 2;
        height: 2px;
        border: none;
        border-bottom: 2px solid var(--web-orange);
        width: 60%;
    }

    .certificate_card > h2 {
        grid-column: 1;
    }

    .certificate_card > h2:nth-child(0) {
        grid-row: 3;
    }

    .certificate_card > h2:nth-child(1) {
        grid-row: 4;
    }

    .certificate_card_overlay {
        grid-column: 1;
    }
}