@font-face {
    /* Regular weight font */
    font-family: roboto;
    src: url('../../resources/fonts/Roboto-Regular.ttf');
}

@font-face {
    /* Regular weight font */
    font-family: bebas; 
    src: url('../../resources/fonts/BebasNeue-Regular.ttf');
}

/* Custom color declarations */
:root {
    --web-orange:#ffa200;
    --web-blue: #0d3b66;
}

body {
    padding: 0;
    margin: 0;
}

/* BEGIN nav_container */
#nav_container {
    width: 100%;
    background-color: #1f1f1f;
    display: grid;
    grid-template-columns: 50% auto 3%;
    /* margin-top: 15px; */
}

#nav_links {
    grid-column: 2;
    display: flex;
    justify-content: space-between;
}

#nav_links > a {
    font-family: roboto;
    font-size: 22pt;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav_link_active {
    color: var(--web-orange);
    text-decoration: none;
}

.nav_link_active:hover {
    cursor: pointer;
}

.nav_link_inactive {
    color: white;
    text-decoration: none;
}

.nav_link_inactive:hover {
    cursor: pointer;
    color: var(--web-orange);
}
/* END nav_container */

/* BEGIN resume_button_container */
#resume_button_container {
    margin: auto;
    width: 100%;
    display: grid;
    grid-template-columns: auto max-content 5% max-content auto;
    grid-template-rows: repeat(2, max-content);
    margin-top: 100px;
}

#resume_button_container > button {
    font-family: bebas;
    font-size: 32pt;
    color: white;
    text-align: center;
    padding: 15px;
    background-color: var(--web-blue);
    border-radius: 25px;
    min-width: 300px;
    border: 1px solid var(--web-blue);
}

#resume_button_container > button:hover {
    cursor: pointer;
    background-color: white;
    color: var(--web-blue);
}

#download_resume_button {
    grid-column: 2;
    grid-row: 1;
}

#email_resume_button {
    grid-column: 4;
    grid-row: 1;
}

#resume_button_container > hr {
    grid-row: 2;
    grid-column: 1 / -1;
    width: 60%;
    border: none;
    height: 2px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    margin-top: 75px;
}
/* END resume_button_container */

/* BEGIN resume_sort_container */
#resume_sort_container {
    width: 100%;
    margin-top: 10px;
    display: grid;
    grid-template-rows: repeat(3, max-content);
    grid-template-columns: auto max-content 1% max-content auto;
    justify-items: center;
}

#resume_sort_container > h1 {
    grid-row: 1;
    grid-column: 1 / -1;
    font-family: bebas;
    font-size: 48pt;
    color: var(--web-orange);
    margin-bottom: 0px;
}

#resume_sort_container > p {
    grid-column: 2;
    grid-row: 2;
    font-family: roboto;
    justify-self: right;
    font-size: 32pt;
}

#resume_sort_select {
    grid-column: 4;
    justify-self: left;
    font-family: roboto;
    font-size: 24pt;
    height: 50px;
    margin-top: 45px;
}

#resume_sort_container > hr {
    grid-row: 3;
    grid-column: 1 / -1;
    width: 60%;
    border: none;
    height: 2px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    margin-top: 25px;
}
/* END resume_sort_container */

/* BEGIN  employment_resume_container*/
#employment_resume_container {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-items: center;
}

.employer_container {
    background-color: white;
    /* border: 2px solid var(--web-blue); */
    box-shadow: 3px 3px 5px #888;
    margin-top: 100px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(5, max-content);
    position: relative;
    left: 100vw;
    opacity: 0;
}

.employer_container > h1 {
    color: white;
    font-family: bebas;
    font-size: 36pt;
    margin: 0;
    padding-top: 15px;
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
    grid-row: 1;
}

.employer_container:nth-child(odd) > h1 {
    background-color: var(--web-orange);
}

.employer_container:nth-child(even) > h1 {
    background-color: var(--web-blue);
}

.employer_container > hr {
    grid-row: 3;
    border: none;
    height: 2px;
    width: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(13, 59, 102, 0.75), rgba(255, 255, 255, 0));
}

.employer_container > p {
    color: var(--web-blue);
    font-family: roboto;
    font-size: 30pt;
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
}

.employer_container > button {
    grid-row: 5;
    font-family: roboto;
    font-size: 30pt;
    background-color: var(--web-blue);
    color: white;
    border: 1px solid var(--web-blue);
    width: 50%;
    justify-self: center;
    border-radius: 20px;
    margin-bottom: 50px;
}
/* END employment_resume_container */

/* BEGIN education_resume_container */
#education_resume_container {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-items: center;
    display: none;
}

.education_container {
    background-color: white;
    /* border: 2px solid var(--web-blue); */
    box-shadow: 3px 3px 5px #888;
    margin-top: 100px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(5, max-content);
    position: relative;
    left: 100vw;
    opacity: 0;
    
}

.education_container > h1 {
    color: white;
    font-family: bebas;
    font-size: 36pt;
    margin: 0;
    padding-top: 35px;
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
    grid-row: 1;
}

.education_container:nth-child(odd) > h1 {
    background-color: var(--web-orange);
}

.education_container:nth-child(even) > h1 {
    background-color: var(--web-blue);
}

.education_container > hr {
    grid-row: 3;
    border: none;
    height: 2px;
    width: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(13, 59, 102, 0.75), rgba(255, 255, 255, 0));
}

.education_container > p {
    color: var(--web-blue);
    font-family: roboto;
    font-size: 30pt;
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
}
