@font-face {
    /* Regular weight font */
    font-family: roboto;
    src: url('../../resources/fonts/Roboto-Regular.ttf');
}

@font-face {
    /* Regular weight font */
    font-family: bebas; 
    src: url('../../resources/fonts/BebasNeue-Regular.ttf');
}

/* Custom color declarations */
:root {
    --web-orange:#ffa200;
    --web-blue: #0d3b66;
    --web-grey: #f1f1f1;
    --web-moderate-grey: #ebebeb;
    --web-dark-grey: #323230;
    --web-dark-grey-seethrough: rgb(50, 50, 48, 0.9);
}

body {
    padding: 0;
    margin: 0;
    width: 100vw;
}

/* BEGIN nav_container */
#nav_container {
    width: 100%;
    background-color: #1f1f1f;
    display: grid;
    grid-template-columns: 50% auto 3%;
    /* margin-top: 15px; */
}

#nav_home_link {
    grid-column: 1;
    text-decoration: none;
    color: white;
    font-family: roboto;
    font-size: 22pt;
    text-align: center;
    justify-self: left;
    align-self: center;
    margin-left: 30px;
}

#nav_home_link:hover {
    color: var(--web-orange);
}

#nav_links {
    grid-column: 2;
    display: flex;
    justify-content: space-between;
}

#nav_links > a {
    font-family: roboto;
    font-size: 22pt;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav_link_active {
    color: var(--web-orange);
    text-decoration: none;
}

.nav_link_active:hover {
    cursor: pointer;
}

.nav_link_inactive {
    color: white;
    text-decoration: none;
}

.nav_link_inactive:hover {
    cursor: pointer;
    color: var(--web-orange);
}
/* END nav_container */

/* BEGIN resume_button_container */
#resume_button_container {
    margin: auto;
    width: 100%;
    display: grid;
    grid-template-columns: auto max-content 5% max-content auto;
    grid-template-rows: repeat(2, max-content);
    margin-top: 100px;
}

#resume_button_container > button {
    font-family: bebas;
    font-size: 32pt;
    color: white;
    text-align: center;
    padding: 15px;
    background-color: var(--web-blue);
    border-radius: 25px;
    min-width: 300px;
    border: 1px solid var(--web-blue);
}

#resume_button_container > button:hover {
    cursor: pointer;
    background-color: white;
    color: var(--web-blue);
}

#download_resume_button {
    grid-column: 2;
    grid-row: 1;
}

#email_resume_button {
    grid-column: 4;
    grid-row: 1;
}

#resume_button_container > hr {
    grid-row: 2;
    grid-column: 1 / -1;
    width: 60%;
    border: none;
    height: 2px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    margin-top: 75px;
}
/* END resume_button_container */

/* BEGIN contact_info_container */
#contact_info_container {
    background-color: var(--web-grey);
    box-shadow: 2px 2px 3px #888;
    width: 100%;
    justify-self: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 50px;
}

.contact_container {
    display: grid;
    grid-template-rows: repeat(3, max-content);
    align-self: center;
    opacity: 0;
}

.contact_container > img {
    justify-self: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

/* Special rule for this one, because the email icon is slightly less tall than the other icons */
#email_contact_container {
    margin-top: 15px;
}

.contact_container > img:hover {
    cursor: pointer;
}

.contact_container > hr {
    width: 50%;
    border: 1px solid var(--web-orange);
    justify-self: center;
}

.contact_container > a {
    text-decoration: none;
    font-family: roboto;
    font-size: 22pt;
    color: black;
    justify-self: center;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 40px;
    transition: 0.15s;
}

.contact_container > a:hover {
    color: var(--web-orange);
}
/* END contact_info_container */












/* BEGIN skill_cards_container */
#skill_cards_container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    margin-top: 100px;
}

.skill_card {
    background-color: var(--web-grey);
    display: grid;
    grid-template-rows: max-content auto;
    box-shadow: 2px 3px 3px #888;
    width: 500px;
    justify-self: center;
    height: max-content;
    /* position: relative; */
}

.skill_card_header {
    background-color: var(--web-blue);
    justify-self: center;
    align-self: center;
    width: 100%;
    position: relative;
    z-index: 1;
}

.skill_card > h1 {
    padding: 0;
    margin: 0;
    justify-self: center;
    align-self: center;
    width: 100%;
    font-family: bebas;
    color: white;
    font-size: 40pt;
    text-align: center;
    /* position: relative;
    z-index: 1; */
    grid-row: 1;
}

.skill_card:nth-child(odd) > h1 {
    background-color: var(--web-blue);
}

.skill_card:nth-child(even) > h1 {
    background-color: var(--web-orange);
}

.skill_data_container {
    z-index: 1;
    display: grid;
    grid-template-rows: repeat(2, max-content);
    grid-template-columns: auto;
}

.skill_data_container > h2 { 
    font-family: roboto;
    font-size: 20pt;
    margin-left: 25px;
    grid-row: 1;
    grid-column: 1;
}

progress {
    appearance: none;
}

.skill_progress_bar {
    margin-bottom: 15px;
    margin-left: 25px;
    width: 80%;
}

.skill_progress_bar::-webkit-progress-bar {
    height: 16pt;
    background-color: #eee;
    border-radius: 25px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.skill_progress_bar::-webkit-progress-value {
    height: 16pt;
    grid-row: 2;
    grid-column: 1;
    border-radius: 25px;
}

.blue_skill_progress_bar::-webkit-progress-value {
    background-color: var(--web-blue);
}

.orange_skill_progress_bar::-webkit-progress-value {
    background-color: var(--web-orange);
}

.skill_tooltip {
    background-color: var(--web-dark-grey-seethrough);
    z-index: 2;
    grid-row: 1 / -1;
    grid-column: 1;
    font-family: roboto;
    color: white;
    font-size: 24pt;
    text-align: center;
    width: max-content;
    height: max-content;
    padding: 15px;
    border-radius: 25px;
    justify-self: right;
    margin-top: 15px;
    margin-right: 15px;
    /* display: none; */
    opacity: 0;
}

#languages_card {
    grid-column: 1;
    grid-row: 1;
    justify-self: center;
    /* position: relative;
    right: 100vw; */
}

#professional_skills_card {
    grid-column: 2;
    grid-row: 1;
    justify-self: center;
    height: 80%;
    margin-top: 100px;
    position: relative;
    left: 100vw;
}

#personal_skills_card {
    grid-column: 1 / -1;
    grid-row: 2;
    justify-self: center;
    margin-top: 100px;
    position: relative;
    right: 100vw;
    margin-bottom: 200px;
}

.skill_meter_background {
    width: 100%;
    height: 35px;
    background-color: var(--web-grey);
    box-shadow: 2px 2px 3px #888;
    border-radius: 20px;
    grid-row: 2;
    grid-column: 1;
    z-index: 2;
    margin-bottom: 15px;
    margin-left: 15px;
}

.skill_meter_foreground {
    width: 0%;
    height: 35px;
    /* background-color: var(--web-blue); */
    box-shadow: 2px 2px 3px #888;
    border-radius: 20px;
    margin-left: 15px;
    grid-column: 1;
    grid-row: 2;
    z-index: 3;
    pointer-events: none;
}
/* END skill_cards_container */

/* BEGIN employment_history_header_container */
#employment_history_header_container {
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    position: relative;
    left: 100vw;
}

#employment_history_header_container > h1 {
    padding: 0;
    margin: 0;
    font-family: bebas;
    font-size: 64pt;
    color: var(--web-orange);
    text-align: center;
    justify-self: center;
}

#employment_history_header_container > hr {
    width: 50%;
    border: none;
    height: 3px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 162, 0, 0.75), rgba(0, 0, 0, 0));
    margin-top: 25px;
    justify-self: center;
}
/* END employment_history_header_container */

/* BEGIN employement_history_container */
#employment_history_container {
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    margin-top: 50px;
    /* position: relative;
    right: 100vw; */
    /* justify-items: left; */
}

.employment_card {
    background-color: var(--web-dark-grey);
    width: 80%;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 40% 2px auto;
    grid-template-rows: repeat(2, 1fr);
    /* padding-top: 25px;
    padding-bottom: 25px; */
    margin-bottom: 100px;
    position: relative;
    right: 100vw;
}

.employment_card:hover {
    cursor: pointer;
}

.employment_card > h1 {
    font-family: bebas;
    color: var(--web-orange);
    font-size: 36pt;
    grid-row: 1 / -1;
    grid-column: 1;
    padding: 0;
    margin: 0;
    text-align: center;
    justify-self: center;
    align-self: center;
    position: relative;
    z-index: 1;
}

.employment_card > hr {
    height: 80%;
    grid-row: 1 / -1;
    grid-column: 2;
    border: none;
    border-left: 2px solid var(--web-orange);
    align-self: center;
    position: relative;
    z-index: 1;
}

.employment_card > h2 {
    font-family: roboto;
    color: var(--web-orange);
    font-size: 26pt;
    grid-column: 3;
    padding: 0;
    margin: 0;
    text-align: center;
    justify-self: center;
    align-self: center;
    position: relative;
    z-index: 1;
}

.employment_card > h2:nth-child(0) {
    grid-row: 1;
}

.employment_card > h2:nth-child(1) {
    grid-row: 2;
}

.employment_card_overlay {
    position: absolute;
    z-index: 2;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    width: 100%;
    height: 100%;
    background-color: rgba(235, 235, 235, 0.8);
    border-radius: 20px;
    display: grid;
    grid-template-columns: auto;
    opacity: 0;
    /* padding-bottom: 25px; */
}

.employment_card_overlay > h1 {
    margin: 0;
    padding: 0;
    justify-self: center;
    align-self: center;
    text-align: center;
    font-family: bebas;
    font-size: 36pt;
    color: var(--web-blue);
}
/* END employement_history_container */

/* BEGIN education_history_header_container */
#education_history_header_container {
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    position: relative;
    right: 100vw;
}

#education_history_header_container > h1 {
    padding: 0;
    margin: 0;
    font-family: bebas;
    font-size: 64pt;
    color: var(--web-blue);
    text-align: center;
    justify-self: center;
}

#education_history_header_container > hr {
    width: 50%;
    border: none;
    height: 3px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(14, 59, 101, 0.75), rgba(0, 0, 0, 0));
    margin-top: 25px;
    justify-self: center;
}
/* END education_history_header_container */

/* BEGIN education_history_container */
#education_history_container {
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    margin-top: 50px;
}

.education_card {
    background-color: var(--web-moderate-grey);
    width: 80%;
    border-radius: 20px;
    justify-self: right;
    display: grid;
    grid-template-columns: 40% 2px auto;
    grid-template-rows: repeat(3, 1fr);
    margin-bottom: 100px;
    position: relative;
    /* left: 20px; */
    box-shadow: 2px 2px 3px #888;
    left: 100vw;
}

.education_card:hover {
    cursor: pointer;
}

.education_card > h1 {
    font-family: bebas;
    color: var(--web-blue);
    font-size: 42pt;
    grid-row: 1 / -1;
    grid-column: 1;
    padding: 0;
    margin: 0;
    text-align: center;
    justify-self: center;
    align-self: center;
    position: relative;
    z-index: 1;
}

.education_card > hr {
    height: 80%;
    grid-row: 1 / -1;
    grid-column: 2;
    border: none;
    border-left: 2px solid var(--web-blue);
    align-self: center;
    position: relative;
    z-index: 1;
}

.education_card > h2 {
    font-family: roboto;
    color: var(--web-blue);
    font-size: 26pt;
    grid-column: 3;
    padding: 0;
    margin: 0;
    text-align: center;
    justify-self: center;
    align-self: center;
    position: relative;
    z-index: 1;
}

.education_card > h2:nth-child(0) {
    grid-row: 1;
}

.education_card > h2:nth-child(1) {
    grid-row: 2;
}

.education_card > h2:nth-child(2) {
    grid-row: 3;
}

.education_card_overlay {
    position: absolute;
    z-index: 2;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    width: 100%;
    height: 100%;
    background-color: rgba(50, 50, 48, 0.8);
    border-radius: 20px;
    display: grid;
    grid-template-columns: auto;
    opacity: 0;
    /* padding-bottom: 25px; */
}

.education_card_overlay > h1 {
    margin: 0;
    padding: 0;
    justify-self: center;
    align-self: center;
    text-align: center;
    font-family: bebas;
    font-size: 36pt;
    color: var(--web-orange);
}
/* END education_history_container */

/* BEGIN certificate_history_header_container */
#certificate_history_header_container {
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    position: relative;
    right: 100vw;
}

#certificate_history_header_container > h1 {
    padding: 0;
    margin: 0;
    font-family: bebas;
    font-size: 64pt;
    color: var(--web-orange);
    text-align: center;
    justify-self: center;
}

#certificate_history_header_container > hr {
    width: 50%;
    border: none;
    height: 3px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 162, 0, 0.75), rgba(0, 0, 0, 0));
    margin-top: 25px;
    justify-self: center;
}
/* END certificate_history_header_container */

/* BEGIN certificate_history_container */
#certificate_history_container {
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    margin-top: 50px;
}

.certificate_card {
    background-color: var(--web-dark-grey);
    width: 80%;
    border-radius: 20px;
    justify-self: center;
    display: grid;
    grid-template-columns: 40% 2px auto;
    grid-template-rows: repeat(2, 1fr);
    margin-bottom: 100px;
    position: relative;
    /* left: 20px; */
    box-shadow: 2px 2px 3px #888;
    /* left: 100vw; */
    opacity: 0;
}

.certificate_card:hover {
    cursor: pointer;
}

.certificate_card > h1 {
    font-family: bebas;
    color: var(--web-orange);
    font-size: 42pt;
    grid-row: 1 / -1;
    grid-column: 1;
    padding: 0;
    margin: 0;
    text-align: center;
    justify-self: center;
    align-self: center;
    position: relative;
    z-index: 1;
}

.certificate_card > hr {
    height: 80%;
    grid-row: 1 / -1;
    grid-column: 2;
    border: none;
    border-left: 2px solid var(--web-orange);
    align-self: center;
    position: relative;
    z-index: 1;
}

.certificate_card > h2 {
    font-family: roboto;
    color: var(--web-orange);
    font-size: 26pt;
    grid-column: 3;
    padding: 0;
    margin: 0;
    text-align: center;
    justify-self: center;
    align-self: center;
    position: relative;
    z-index: 1;
}

.certificate_card > h2:nth-child(0) {
    grid-row: 1;
}

.certificate_card > h2:nth-child(1) {
    grid-row: 2;
}

.certificate_card_overlay {
    position: absolute;
    z-index: 2;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    width: 100%;
    height: 100%;
    background-color: rgba(235, 235, 235, 0.8);
    border-radius: 20px;
    display: grid;
    grid-template-columns: auto;
    opacity: 0;
    /* padding-bottom: 25px; */
}

.certificate_card_overlay > h1 {
    margin: 0;
    padding: 0;
    justify-self: center;
    align-self: center;
    text-align: center;
    font-family: bebas;
    font-size: 36pt;
    color: var(--web-blue);
}
/* END certificate_history_container */

/* BEGIN resume_sort_container */
#resume_sort_container {
    width: 100%;
    margin-top: 10px;
    display: grid;
    grid-template-rows: repeat(3, max-content);
    grid-template-columns: auto max-content 1% max-content auto;
    justify-items: center;
}

#resume_sort_container > h1 {
    grid-row: 1;
    grid-column: 1 / -1;
    font-family: bebas;
    font-size: 48pt;
    color: var(--web-orange);
    margin-bottom: 0px;
}

#resume_sort_container > p {
    grid-column: 2;
    grid-row: 2;
    font-family: roboto;
    justify-self: right;
    font-size: 32pt;
}

#resume_sort_select {
    grid-column: 4;
    justify-self: left;
    font-family: roboto;
    font-size: 24pt;
    height: 50px;
    margin-top: 45px;
}

#resume_sort_container > hr {
    grid-row: 3;
    grid-column: 1 / -1;
    width: 60%;
    border: none;
    height: 2px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    margin-top: 25px;
}
/* END resume_sort_container */

/* BEGIN  employment_resume_container*/
#employment_resume_container {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-items: center;
}

.employer_container {
    background-color: white;
    /* border: 2px solid var(--web-blue); */
    box-shadow: 3px 3px 5px #888;
    margin-top: 100px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(5, max-content);
    position: relative;
    left: 100vw;
    opacity: 0;
}

.employer_container > h1 {
    color: white;
    font-family: bebas;
    font-size: 36pt;
    margin: 0;
    padding-top: 15px;
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
    grid-row: 1;
}

.employer_container:nth-child(odd) > h1 {
    background-color: var(--web-orange);
}

.employer_container:nth-child(even) > h1 {
    background-color: var(--web-blue);
}

.employer_container > hr {
    grid-row: 3;
    border: none;
    height: 2px;
    width: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(13, 59, 102, 0.75), rgba(255, 255, 255, 0));
}

.employer_container > p {
    color: var(--web-blue);
    font-family: roboto;
    font-size: 30pt;
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
}

.employer_container > button {
    grid-row: 5;
    font-family: roboto;
    font-size: 30pt;
    background-color: var(--web-blue);
    color: white;
    border: 1px solid var(--web-blue);
    width: 50%;
    justify-self: center;
    border-radius: 20px;
    margin-bottom: 50px;
}
/* END employment_resume_container */

/* BEGIN education_resume_container */
#education_resume_container {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-items: center;
    display: none;
}

.education_container {
    background-color: white;
    /* border: 2px solid var(--web-blue); */
    box-shadow: 3px 3px 5px #888;
    margin-top: 100px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(5, max-content);
    position: relative;
    left: 100vw;
    opacity: 0;
    
}

.education_container > h1 {
    color: white;
    font-family: bebas;
    font-size: 36pt;
    margin: 0;
    padding-top: 35px;
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
    grid-row: 1;
}

.education_container:nth-child(odd) > h1 {
    background-color: var(--web-orange);
}

.education_container:nth-child(even) > h1 {
    background-color: var(--web-blue);
}

.education_container > hr {
    grid-row: 3;
    border: none;
    height: 2px;
    width: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(13, 59, 102, 0.75), rgba(255, 255, 255, 0));
}

.education_container > p {
    color: var(--web-blue);
    font-family: roboto;
    font-size: 30pt;
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
}
